[Unit]
Description=Redis
After=etcd.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -d --name redis turistforeningen/redis
RestartSec=10s

[Install]
WantedBy=local.target

